<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/default}">
<head>

</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">회원 등록</h1>
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title"></h5>
                <form th:action="@{/user/new}" th:object="${user}" id="userForm" method="post">
                    <!--                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

                    <div class="position-relative form-group">
                        <label for="userName" class="">이름</label>
                        <input name="userName" id="userName" placeholder="이름" type="text" class="form-control" autocomplete="false">
                        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Error</span>
                    </div>
                    <div class="position-relative form-group">
                        <label for="userId" class="">아이디</label>
                        <input name="userId" id="userId" placeholder="아이디" type="text" class="form-control" autocomplete="false">
                        <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">Error</span>
                    </div>
                    <div class="position-relative form-group">
                        <label for="userPassword" class="">비밀번호</label>
                        <input name="userPassword" id="userPassword" placeholder="비밀번호" type="text" class="form-control"  autocomplete="false">
                        <span th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">Error</span>
                    </div>
                    <div class="position-relative form-group">
                        <label for="userPasswordConfirm" class="">비밀번호 확인</label>
                        <input name="userPasswordConfirm" id="userPasswordConfirm" placeholder="비밀번호" type="text" class="form-control" autocomplete="false">
                        <span th:if="${#fields.hasErrors('userPasswordConfirm')}" th:errors="*{userPasswordConfirm}">Error</span>
                    </div>
                    <div class="position-relative form-group">
                        <label for="userEmail" class="">이메일</label>
                        <input name="userEmail" id="userEmail" placeholder="이메일" type="text" class="form-control"  autocomplete="false">
                        <span th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Error</span>
                    </div>
                    <div class="position-relative form-group">
                        <label for="userLevel" class="">회원등급</label>
                        <input name="userLevel" id="userLevel" placeholder="회원등급" type="text" class="form-control"  autocomplete="false">
                        <span th:if="${#fields.hasErrors('userLevel')}" th:errors="*{userLevel}">Error</span>
                    </div>

                    <button class="mt-1 btn btn-primary" type="submit">
                        추가
                    </button>
                    <button type="button" onclick="location.href='./user'" class="mt-1 btn btn-secondary">목록</button>
                </form>
            </div>
        </div>
    </div>
    <script>
    	$('#userForm').validate({
    		rules: {
    			userName: "required",
    			"userId.userId":{
    				required: true, minlength:4, maxlength:15
    			} ,
    			userPassword: "required",
    			userPasswordConfirm: {
   			    	equalTo: "#userPassword"
   			    },
   			    userEmail: {required: true, email: true}
   			}
   		});

    </script>
</div>
</body>
</html>
